<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}{GMT+8} %-5level : %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/tmp/daily.log" append="false"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%msg%n%n"/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="org.apache.http" level="INFO"/>

        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>