<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>小米运动任务列表</title>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>

        <script type="text/html" id="toolbarButton">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addMiyoushe" style="margin-bottom: 10px;">
                    <i class="layui-icon layui-icon-add-1"></i>添加小米运动任务
                </button>

                <a class="layui-btn layui-btn-sm layui-btn-normal" lay-href="/my" style="margin-bottom: 10px;">
                    <i class="layui-icon layui-icon-search"></i>我的任务
                </a>
            </div>
        </script>

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="layuiTable" lay-filter="tableFilter"></table>
                </div>
            </div>
        </div>

        <th:block th:include="include :: footerJs"/>

        <script type="text/javascript">
            layui.config({
                base: '/static/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use('index');

            layui.use(['table','layer'], function() {

                var table = layui.table,layer = layui.layer;

                table.render({
                    id: 'tableRenderId',
                    elem: '#layuiTable',
                    height: 'full-50',
                    url: "/api/index/xiaomi/list",
                    toolbar: '#toolbarButton',
                    defaultToolbar:[],
                    page: true,
                    limit: 20,
                    cellMinWidth: 100,
                    cols: [ [
                        {field:'phone',title:'小米账号', align:"center"},
                        {field:'steps',title:'当前设置的步数', align:"center"},
                        {field:'previousOccasion',title:'上一次提交的步数', align:"center"},
                        {field:'enable',title:'随机步数是否开启', align:"center", templet:function (d){
                                if (d.randomOrNot == "1") {
                                    return '<button class="layui-btn layui-btn-xs">开启</button>';
                                } else {
                                    return '<button class="layui-btn layui-btn-xs layui-btn-danger">关闭</button>';
                                }
                            }},
                        {field:'enable',title:'任务是否开启', align:"center", templet:function (d){
                            if (d.enable == "true") {
                                return '<button class="layui-btn layui-btn-xs">开启</button>';
                            } else {
                                return '<button class="layui-btn layui-btn-xs layui-btn-danger">关闭</button>';
                            }
                        }},
                        {field:'status',title:'任务运行状态', align:"center", templet:function (d){
                            return getStatus(d.status);
                        }},
                        {field:'endDateString',title:'任务最后运行时间', align:"center"}
                    ]],
                    response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    },
                    parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                        return {
                            "code": 200, //解析接口状态
                            "msg": "", //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.rows //解析数据列表
                        };
                    }
                });

                //头工具栏事件
                table.on('toolbar(tableFilter)', function(obj){
                    switch(obj.event){
                        case 'addMiyoushe':
                            layer.open({
                                type: 2,
                                title: '添加小米运动任务',
                                shade: 0.1,
                                area: screen() < 2 ? ['90%', '80%'] : ['1200px', '600px'],
                                content: "/xiaomi/add",
                                end: function (index, layero) {
                                    table.reload('tableRenderId', {
                                        page: {
                                            //重新从第 1 页开始
                                            curr: 1
                                        }
                                    });
                                    return true;
                                }
                            });
                            break;
                    };
                });

            });

        </script>
    </body>

</html>
