@charset "UTF-8";

html {
	background-color: #F2F2F2;
}

.body-header{
    line-height: 50px;
    padding: 0 20px;
}

.body-header > span{
    padding-right: 10px;
}

.layui-btn > i {
	padding-right: 3px;
}

.layui-fluid {
	padding-top: 10px;
}

.admin-layui-form {
	position: relative;
    padding: 10px 15px;
    line-height: 24px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 10px;
}

.admin-layui-form .layui-form .layui-form-item:last-child{
	margin-bottom: 0px;
}

.readOnly {
    background-color: rgba(251,251,251);
}