<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>任务日志查看</title>
    <th:block th:include="include :: headerCss"/>
    <link rel="stylesheet" href="/static/css/layui.admin.css">
    <link rel="stylesheet" href="/static/css/common.admin.css">
    <link rel="stylesheet" href="/static/css/tasklog.css">
</head>
<body>

<script type="text/html" id="toolbarButton">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="query" style="margin-bottom: 10px;">
            <i class="layui-icon layui-icon-search"></i>查询
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="clear" style="margin-bottom: 10px;">
            <i class="layui-icon layui-icon-fonts-clear"></i>清空
        </button>
    </div>
</script>

<div class="layui-fluid">
    <div class="admin-layui-form">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">任务类型</label>
                <div class="layui-input-inline">
                    <select name="taskType" id="taskType">
                        <option value="">请选择任务类型</option>
                        <option value="mihuyou">米游社</option>
                        <option value="bili">哔哩哔哩</option>
                        <option value="netmusic">网易云</option>
                    </select>
                </div>

                <label class="layui-form-label">任务状态</label>
                <div class="layui-input-inline">
                    <select name="taskStatus" id="taskStatus">
                        <option value="">请选择任务状态</option>
                        <option value="200">运行完毕</option>
                        <option value="-1">运行失败</option>
                        <option value="500">账号信息已过期</option>
                        <option value="501">执行成功，账号信息更新失败</option>
                        <option value="0">未开启</option>
                        <option value="1">任务运行中</option>
                        <option value="100">等待运行</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="layui-card">
        <div class="layui-card-body">
            <table id="layuiTable" lay-filter="tableFilter"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footerJs"/>

<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-xs" lay-event="queryLog">查看日志</button>
</script>

<script type="text/javascript">
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    layui.use(['table','layer'], function() {

        var table = layui.table,layer = layui.layer;
        var form = layui.form;

        table.render({
            id: 'tableRenderId',
            elem: '#layuiTable',
            height: 'full-110',
            url: "/admin/taskLog/list",
            toolbar: '#toolbarButton',
            defaultToolbar:[],
            page: true,
            limit: 20,
            cellMinWidth: 100,
            cols: [ [
                {field:'id', title: 'id', hide:true},
                {field:'userid', title: 'userid', hide:true},
                {field:'autoId',title:'任务id', align:"center", width:100},
                {field:'type',title:'任务类型', align:"center", width:100, templet:function (d){
                    return getTaskLogType(d.type);
                }},
                {field:'status',title:'任务运行状态', align:"center", width:150, templet:function (d){
                    return getStatus(d.status);
                }},
                {field:'text',title:'日志内容', align:"center"},
                {field: '', title: '操作', width:150, align:"center", toolbar:'#toolbar'}
            ]],
            response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            },
            parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": 200, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.rows //解析数据列表
                };
            }
        });

        //头工具栏事件
        table.on('toolbar(tableFilter)', function(obj){
            switch(obj.event){
                case 'query':
                    table.reload('tableRenderId',
                        {
                            where: {
                                taskType: $('#taskType').val(),
                                taskStatus: $('#taskStatus').val()
                            },
                            page: {
                                //重新从第 1 页开始
                                curr: 1
                            }
                        });
                    break;
                case 'clear':
                    $('#taskType').val('');
                    $('#taskStatus').val('');
                    form.render();
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(tableFilter)', function(obj){
            var data = obj.data;

            switch (obj.event){
                case 'queryLog':
                    var boxSize = '600px';
                    if (data.type === "netmusic") {
                        boxSize = '450px';
                    }

                    var index = layer.open({
                        title: `${data.type}日志查看`,
                        type: 2,
                        content: `/getlog?type=${data.type}&autoId=${data.autoId}&userId=${data.userid}&id=${data.id}`,
                        maxmin: true,
                        area: screen() < 2 ? ['90%', '80%'] : ['600px', boxSize],
                        end: function (index, layero) {
                            return true;
                        }
                    });
                    break;
            }

        });

    });

</script>
</body>

</html>
