<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>b站任务列表</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/app.b36ca27d.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/chunk-vendors.a8a11ea7.css}"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:include="/include::header" class="navbar navbar-inverse navbar-fixed-top">

</nav>


<div class="container">
    <div class="layui-btn-container">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>b站托管任务列表</legend>
        </fieldset>
        <a href="add" class="layui-btn layui-btn-normal">
            添加b站任务
        </a>
        <a href="/my" class="layui-btn layui-btn-normal">
            查看我的任务
        </a>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>用户名</th>
            <th>用户硬币</th>
            <th>用户等级</th>
            <th>升级还需要</th>
            <th>大会员情况</th>
            <th>任务是否开启</th>
            <th>任务运行状态</th>
            <th>任务最后运行时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan:${list}">
            <td th:text="${plan.getBiliName()}"></td>
            <td th:text="${plan.getBiliCoin()}"></td>
            <td th:text="${plan.getBiliLevel()}"></td>
            <td th:text="${plan.getBiliUpexp() - plan.getBiliExp()}"></td>
            <td th:text="${plan.getIsVip()?'大会员':'不是大会员'}"></td>
            <td th:text="${plan.getSkipdailytask()?'任务关闭':'任务开启'}"></td>
            <td>
                <span th:if="${plan.getStatus().equals('200')}" style="color: green">任务运行完毕</span>
                <span th:if="${plan.getStatus().equals('-1')}" style="color: red">任务运行失败</span>
                <span th:if="${plan.getStatus().equals('500')}" style="color: red">账号cookie已过期</span>
                <span th:if="${plan.getStatus().equals('0')}" style="color: yellow">任务未开启</span>
                <span th:if="${plan.getStatus().equals('1')}" style="color: #0efade">任务运行中</span>
                <span th:if="${plan.getStatus() == null || plan.getStatus().equals('100')}" style="color: blue">等待运行</span>
            </td>
            <td th:text="${plan.getEndDateString()}"></td>
        </tr>
        </tbody>
    </table>

</div>


</body>

</html>
