<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>我的任务日志</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>
        <div class="container" style="margin: 15px; ">

            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="showHead"></div>
                        <div class="layui-card-body" id="showInfo"></div>
                    </div>
                </div>
            </div>

        </div>

        <p id="dateStirng" style="display: none;">[[${log.getDateString()}]]</p>
        <p id="text" style="display: none;">[[${log.getText()}]]</p>

        <script th:include="include::footerJs"></script>
        <script>
            var dateStirng = $("#dateStirng").text();
            var text = $("#text").text();
            $("#showHead").html('日志时间：' + dateStirng);
            $("#showInfo").html(text);
        </script>
    </body>

</html>
