<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>我的任务日志</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <th:block th:include="include :: static"/>
    </head>
    <body>
        <div class="container" style="padding: 15px; margin: 10px; background-color: #F2F2F2;">

            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="showHead"></div>
                        <div class="layui-card-body" id="showInfo"></div>
                    </div>
                </div>
            </div>

        </div>

        <p id="dateStirng" style="display: none;">[[${log.getDateString()}]]</p>
        <p id="text" style="display: none;">[[${log.getText()}]]</p>

        <script>

            var dateStirng = $("#dateStirng").text();
            var text = $("#text").text();
            $("#showHead").html('日志时间：' + dateStirng);
            $("#showInfo").html(text);
        </script>
        <script th:include="include::layelement"></script>
    </body>

</html>
