<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerr(title)">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <title th:text="${title}"></title>
<!--        <link rel="stylesheet" th:href="@{/static/css/pear.css}">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/css/pear.css">
    </head>

    <div th:fragment="static">
<!--        <script th:src="@{/static/layui/layui.js}"></script>-->
<!--        <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" type="text/css"/>-->
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layui/layui.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layui/css/layui.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/css/common.css" type="text/css"/>
<!--        <link rel="stylesheet" th:href="@{/static/css/common.css}" type="text/css"/>-->

<!--        <link rel="shortcut icon" th:href="@{/static/image/favicon.ico}" type="image/x-icon">-->
    </div>

    <!-- 通用JS -->
    <div th:fragment="footer">
        <script> let rootPath = "[[${rootPath}]]";</script>
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layui/layui.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/js/pear.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/js/jquery.min.js"></script>
    </div>

    <div th:fragment="headerCss">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layuiadmin/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layuiadmin/style/admin.css" media="all">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/css/common.css" media="all">
        <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/image/favicon.ico" type="image/x-icon">
    </div>

    <!-- 通用JS -->
    <div th:fragment="footerJs">
        <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
<!--        <script src="/static/layuiadmin/layui/layui.js"></script>-->
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/layuiadmin/layui/layui.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/wyt1215819315/autoplan@master/src/main/resources/static/js/common.js"></script>
<!--        <script src="/static/js/common.js"></script>-->
    </div>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <script th:fragment="layelement">
            layui.use('element', function () {
                var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

                //监听导航点击
                element.on('nav(demo)', function (elem) {
                    //console.log(elem)
                    //layer.msg(elem.text());
                });
            });
        </script>
    </body>
</html>
