<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AutoPlan首页</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<th:block th:include="include :: headerCss"/>
		<style>
			.layui-layout-admin .layui-layout-right {
				padding: 0 5px;
			}

			.layadmin-side-shrink .layui-layout-admin .layui-logo {
				background-image: url(./static/image/logo.png);
				background-repeat: no-repeat;
				background-size: 80% 80%;
			}
		</style>
	</head>
	<body class="layui-layout-body">

		<div id="LAY_app">
			<div class="layui-layout layui-layout-admin">
				<div class="layui-header">
					<!-- 头部区域 -->
					<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect>
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

						<li class="layui-nav-item" lay-unselect>

							<div class="noLoginShowMenu">
								<a href="/login" >
									<cite>登录</cite>
								</a>
							</div>

							<div class="loginShowMenu">
								<a href="javascript:;">
									<cite style="margin: 0 10px 0 0;" id="loginUserName"></cite>
								</a>
								<dl class="layui-nav-child">
									<dd style="text-align: center;">
										<a href="/logout">注销</a>
									</dd>
								</dl>
							</div>

						</li>

					</ul>
				</div>

				<!-- 侧边菜单 -->
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<div class="layui-logo" lay-href="/welcomePage">
							<span>Auto Helper</span>
						</div>

						<ul class="layui-nav layui-nav-tree">

							<li class="layui-nav-item">
								<a lay-href="/welcomePage">
									<i class="layui-icon layui-icon-help"></i>
									<cite>帮助</cite>
								</a>
							</li>

							<li class="layui-nav-item">
								<a href="javascript:;">
									<i class="layui-icon layui-icon-component"></i>
									<cite>自动任务列表</cite>
								</a>
								<dl class="layui-nav-child">
									<dd><a lay-href="/bili/index">哔哩哔哩</a></dd>
									<dd><a lay-href="/netmusic/index">网易云</a></dd>
									<dd><a lay-href="/mihuyou/index">米游社</a></dd>
								</dl>
							</li>

							<li class="layui-nav-item adminShowMenu">
								<a href="javascript:;">
									<i class="layui-icon layui-icon-console"></i>
									<cite>自动任务管理</cite>
								</a>
								<dl class="layui-nav-child">
									<dd><a lay-href="/admin/job/view">定时任务管理</a></dd>
									<dd><a lay-href="/admin/joblog/view">定时任务日志查看</a></dd>
								</dl>
							</li>

							<li class="layui-nav-item loginShowMenu">
								<a lay-href="/my">
									<i class="layui-icon layui-icon-user"></i>
									<cite>我的任务</cite>
								</a>
							</li>

							<li class="layui-nav-item loginShowMenu">
								<a lay-href="/my-edit">
									<i class="layui-icon layui-icon-set"></i>
									<cite>全局推送配置修改</cite>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- 页面标签 -->
				<div class="layadmin-pagetabs" id="LAY_app_tabs">
					<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-down">
						<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
							<li class="layui-nav-item" lay-unselect>
								<a href="javascript:;"></a>
								<dl class="layui-nav-child layui-anim-fadein">
									<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
									<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
									<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
						<ul class="layui-tab-title" id="LAY_app_tabsheader">
							<li lay-id="/welcomePage" lay-attr="/welcomePage" class="layui-this">
								<i class="layui-icon layui-icon-home"></i>
							</li>
						</ul>
					</div>
				</div>


				<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe src="/welcomePage" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>

				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>
			</div>
		</div>

		<th:block th:include="include :: footerJs"/>
		<script src="/static/js/index.js"></script>
		<script>
			layui.config({
				base: '/static/layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use('index');
		</script>
	</body>
</html>
