<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>老吴的自动任务管理-首页</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
</head>
<body style="padding-top: 0;margin: 10px">
<ul th:include="include::header" class="layui-nav"></ul>

<blockquote class="layui-elem-quote">
    <h3>这是一个自动化托管系统</h3>
    <h4>能够实现每日自动b站领经验，网易云自动签到刷300首歌</h4>
    <h4>默认会在早上8点进行任务，暂时无法手动执行任务</h4>
    <h4>项目任务部分源码来源</h4>
    <h4>
        <a href="https://github.com/JunzhouLiu/BILIBILI-HELPER-PRE">BILIBILI-HELPER-PRE</a>
    </h4>
    <h4>
        <a href="https://github.com/secriy/CloudMusic-LevelUp">CloudMusic-LevelUp</a>
    </h4>
    <h4>
        <a href="https://github.com/PonKing66/genshi-helper">genshi-helper</a>
    </h4>
    <a class="layui-btn layui-btn-lg layui-btn-normal" href="https://github.com/wyt1215819315/autoplan" target="_blank">开源地址</a>
    <a class="layui-btn layui-btn-lg layui-btn-normal" href="https://blog.oldwu.top/index.php/archives/84/" target="_blank">使用说明</a>
</blockquote>

<script th:include="include::layelement"></script>
</body>

</html>
