<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>米游社任务添加</title>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>

        <div class="layui-fluid">
            <div class="admin-layui-form">

                <form class="layui-form layui-form-pane" action="">

                    <div class="layui-form-item">
                        <div class="layui-collapse">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">关于cookie的说明</h2>
                                <div class="layui-colla-content layui-show">
                                    <p>米游社中的cookie没有login_ticket字段，如果需要使用米游币任务，请前往米哈游通行证页面获取cookie</p>
                                    <p>
                                        <font style="color: red;">电脑端</font>可以将后面的链接拖动到书签，登录米游社点击书签即可获取：
                                        <a class="layui-btn layui-btn-danger layui-btn-sm"
                                           href="javascript:(function(){let domain=document.domain;let cookie=document.cookie;prompt('Cookies: '+domain, cookie)})();"
                                           target="_blank">Ganyu Cookies Getter
                                        </a>
                                        <br/>
                                        <font style="color: red;">手机端</font>请查看
                                        <a class="layui-btn layui-btn-normal layui-btn-sm" href="https://blog.oldwu.top/index.php/archives/84/#toc_9" target="_blank">
                                            使用说明
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务名</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="name" name="name" placeholder="输入任务名" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">米游社cookie</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="cookie" name="cookie" placeholder="输入cookie，不知道怎么取请看使用教程" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">米哈游通行证cookie</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="lcookie" placeholder="输入米哈游通行证cookie，用于获取login_ticket，如果不需要使用米游币任务，请忽略" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否开启任务</label>
                        <div class="layui-input-block">
                            <select class="layui-input" name="enable">
                                <option selected value="true">开启</option>
                                <option value="false">关闭</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务完成推送WebHook</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="webhook" placeholder="输入WebHook地址，json字符串" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-filter="user-save" lay-submit type="button">
                                <i class="layui-icon layui-icon-ok"></i>提交
                            </button>
                            <button class="layui-btn layui-btn-normal" type="button" id="showSendWebHook">点我生成WebHook</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
        <th:block th:include="include :: footerJs"/>
        <script src="/static/js/md5.js"></script>

        <script>
            var parentIndex = parent.layer.getFrameIndex(window.name);

            layui.use(['form', 'element','layer'], function () {
                let element = layui.element,layer = layui.layer;;
                let form = layui.form;

                showBtnSize();

                //名称验证
                form.verify({
                    name: function (value) {
                        if (value.length == 0) {
                            return '任务名为必填！';
                        }
                    },
                    cookie: function (value) {
                        if (value.length == 0) {
                            return '不输cookie执行空气？';
                        }
                    }
                });

                $("#showSendWebHook").click(function () {
                    layer.open({
                        type: 2,
                        title: '生成webhook json字符串',
                        shade: 0.1,
                        area: screen() < 2 ? ['90%', '80%'] : ['1000px', '400px'],
                        content: "/webhook-generate",
                        end: function (index, layero) {
                            return true;
                        }
                    });
                })

                //保存
                form.on('submit(user-save)', function (data) {

                    if (data.field.lcookie === undefined || data.field.lcookie === '') {
                        data.field.lcookie = data.field.cookie;
                    }

                    var loadIndex = parent.layer.msg("校验用户信息中，请稍后", {icon: 3, time: 10*1000, shade: [0.7, '#393D49']});
                    $.ajax({
                        url: '/api/user/mihuyou/add',
                        data: JSON.stringify(data.field),
                        dataType: 'json',
                        contentType: 'application/json;charset=UTF-8',
                        type: 'post',
                        success: function (result) {
                            parent.layer.close(loadIndex);
                            if (result.code == 200) {
                                parent.layer.msg(result.msg);
                                parent.layer.close(parentIndex);
                            } else if(result.code == 201){
                                parent.layer.msg(result.msg);
                                parent.layer.close(parentIndex);
                            }else {
                                parent.layer.msg(result.msg);
                            }
                        },
                        error: function () {
                            parent.layer.close(loadIndex);
                            parent.layer.msg("连接服务器失败！");
                        }
                    })
                    return false;
                });
            })
        </script>
    </body>
</html>