<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>米游社任务列表</title>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>

        <div class="container" style="padding-top: 0;margin: 15px">
            <div class="layui-btn-container">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>米游社托管任务列表</legend>
                </fieldset>
                <a href="add" class="layui-btn layui-btn-normal">
                    添加米游社任务
                </a>
                <a href="/my" class="layui-btn layui-btn-normal">
                    查看我的任务
                </a>
            </div>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>原神UID</th>
                    <th>任务是否开启</th>
                    <th>任务运行状态</th>
                    <th>任务最后运行时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plan:${list}">
                    <td th:text="${plan.getMiName()}"></td>
                    <td th:text="${plan.getGenshinUid()}"></td>
                    <td th:text="${plan.getEnable().equals('false')?'任务关闭':'任务开启'}"></td>
                    <td>
                        <span th:if="${plan.getStatus().equals('200')}" style="color: green">任务运行完毕</span>
                        <span th:if="${plan.getStatus().equals('-1')}" style="color: red">任务运行失败</span>
                        <span th:if="${plan.getStatus().equals('500')}" style="color: red">账号验证失败</span>
                        <span th:if="${plan.getStatus().equals('0')}" style="color: yellow">任务未开启</span>
                        <span th:if="${plan.getStatus().equals('1')}" style="color: #0efade">任务运行中</span>
                        <span th:if="${plan.getStatus() == null || plan.getStatus().equals('100')}" style="color: blue">等待运行</span>
                    </td>
                    <td th:text="${plan.getEndDateString()}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <th:block th:include="include :: footerJs"/>
    </body>

</html>
