<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>修改米忽悠任务</title>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>

        <div class="layui-fluid">
            <div class="admin-layui-form">

                <form class="layui-form layui-form-pane" action="">

                    <input type="hidden" name="id" id="id">

                    <div class="layui-form-item">
                        <label class="layui-form-label">米哈游通行证cookie</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="lcookie"
                                   placeholder="输入米哈游通行证cookie，用于获取login_ticket，如果不需要使用米游币任务或上一次已经输入过，请忽略" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务名</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="required" name="name" id="name"
                                   placeholder="输入任务名" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否开启任务</label>
                        <div class="layui-input-block">
                            <select class="layui-input" name="enable" id="enable">
                                <option value="false">关</option>
                                <option value="true">开</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务完成推送WebHook</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="webhook" id="webhook"
                                   placeholder="输入WebHook地址，json字符串" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-filter="user-save" lay-submit type="button">
                                <i class="layui-icon layui-icon-ok"></i> 提交
                            </button>
                            <button class="layui-btn layui-btn-normal" type="button" id="showSendWebHook">点我生成WebHook</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <th:block th:include="include :: footerJs"/>

        <script>
            var parentIndex = parent.layer.getFrameIndex(window.name);

            layui.use(['form','layer'], function () {
                let form = layui.form;
                let layer = layui.layer;

                showBtnSize();
                showData();

                function showData() {
                    $.post("/api/user/mihuyou/view",{id: GetQueryString("id")}, function (data) {
                        var _data = data.data;

                        $("#id").val(GetQueryString("id"));
                        $("#name").val(_data.name);
                        $("#enable").val(_data.enable);
                        $("#webhook").val(_data.webhook);

                        form.render();
                    });
                }

                $("#showSendWebHook").click(function () {
                    layer.open({
                        type: 2,
                        title: '生成webhook json字符串',
                        shade: 0.1,
                        area: screen() < 2 ? ['90%', '80%'] : ['1000px', '400px'],
                        content: "/webhook-generate",
                        end: function (index, layero) {
                            return true;
                        }
                    });
                })

                //保存
                form.on('submit(user-save)', function (data) {
                    var loadIndex = parent.layer.load(2, {time: 10*1000});

                    $.ajax({
                        url: '/api/user/mihuyou/edit',
                        data: JSON.stringify(data.field),
                        dataType: 'json',
                        contentType: 'application/json;charset=UTF-8',
                        type: 'post',
                        success: function (result) {
                            parent.layer.close(loadIndex);
                            if (result.code == 200) {
                                parent.layer.msg(result.msg);
                                parent.layer.close(parentIndex);
                            } else {
                                parent.layer.msg(result.msg);
                            }
                        },
                        error: function () {
                            parent.layer.close(loadIndex);
                            parent.layer.msg("连接服务器失败！");
                        }
                    })
                    return false;
                });
            })
        </script>
    </body>
</html>