<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>我的任务列表</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <style type="text/css">
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body style="padding-top: 0;margin: 10px">
<ul th:include="include::header" class="layui-nav"></ul>


<div class="container">
    <div class="layui-btn-container">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>操作</legend>
        </fieldset>
        <a href="bili/add" class="layui-btn layui-btn-normal">
            添加b站任务
        </a>
        <a href="netmusic/add" class="layui-btn layui-btn-normal">
            添加网易云任务
        </a>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>b站任务列表</legend>
    </fieldset>
    <table class="layui-table">
        <thead>
        <tr>
            <th>任务id</th>
            <th>用户名</th>
            <th>用户硬币</th>
            <th>用户等级</th>
            <th>升级还需要</th>
            <th>大会员情况</th>
            <th>任务是否开启</th>
            <th>任务运行状态</th>
            <th>任务最后运行时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan:${bililist}">
            <td th:text="${plan.getAutoId()}"></td>
            <td th:text="${plan.getBiliName()}"></td>
            <td th:text="${plan.getBiliCoin()}"></td>
            <td th:text="${plan.getBiliLevel()}"></td>
            <td th:text="${plan.getBiliUpexp() - plan.getBiliExp()}"></td>
            <td th:text="${plan.getIsVip()?'大会员':'不是大会员'}"></td>
            <td th:text="${plan.getSkipdailytask()?'任务关闭':'任务开启'}"></td>
            <td>
                <span th:if="${plan.getStatus().equals('200')}" style="color: green">任务运行完毕</span>
                <span th:if="${plan.getStatus().equals('-1')}" style="color: red">任务运行失败</span>
                <span th:if="${plan.getStatus().equals('500')}" style="color: red">账号cookie已过期</span>
                <span th:if="${plan.getStatus().equals('0')}" style="color: yellow">任务未开启</span>
                <span th:if="${plan.getStatus().equals('1')}" style="color: #0efade">任务运行中</span>
                <span th:if="${plan.getStatus() == null || plan.getStatus().equals('100')}" style="color: blue">等待运行</span>
            </td>
            <td th:text="${plan.getEndDateString()}"></td>
            <td>
                <a class="layui-btn layui-btn-primary layui-border-blue" th:href="${'getlog?type=bilibili&id=' + plan.getAutoId()}" target="_blank">查看日志</a>
                <button class="layui-btn layui-btn-primary layui-border-red" th:onclick="|removeBili(${plan.getAutoId()})|">删除任务</button>
            </td>
        </tr>
        </tbody>
    </table>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>网易云任务列表</legend>
    </fieldset>
    <table class="layui-table">
        <thead>
        <tr>
            <th>任务名称</th>
            <th>手机号</th>
            <th>用户名</th>
            <th>用户等级</th>
            <th>升级所需登录天数</th>
            <th>升级所需听歌数</th>
            <th>任务是否开启</th>
            <th>任务运行状态</th>
            <th>任务最后运行时间</th>
            <th>查看日志</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan:${netlist}">
            <td th:text="${plan.getName()}"></td>
            <td th:text="${plan.getPhone()}"></td>
            <td th:text="${plan.getNetmusicName()}"></td>
            <td th:text="${plan.getNetmusicLevel()}"></td>
            <td th:text="${plan.getNetmusicNeedDay()}"></td>
            <td th:text="${plan.getNetmusicNeedListen()}"></td>
            <td th:text="${plan.getEnable()?'任务开启':'任务关闭'}"></td>
            <td>
                <span th:if="${plan.getStatus().equals('200')}" style="color: green">任务运行完毕</span>
                <span th:if="${plan.getStatus().equals('-1')}" style="color: red">任务运行失败</span>
                <span th:if="${plan.getStatus().equals('500')}" style="color: red">账号信息已过期</span>
                <span th:if="${plan.getStatus().equals('0')}" style="color: yellow">任务未开启</span>
                <span th:if="${plan.getStatus().equals('1')}" style="color: #0efade">任务运行中</span>
                <span th:if="${plan.getStatus() == null || plan.getStatus().equals('100')}" style="color: blue">等待运行</span>
            </td>
            <td th:text="${plan.getEndDateString()}"></td>
            <td>
                <a class="layui-btn layui-btn-primary layui-border-blue" th:href="${'getlog?type=netmusic&id=' + plan.getId()}" target="_blank">查看日志</a>
                <button class="layui-btn layui-btn-primary layui-border-red" th:onclick="|removeNetmusic(${plan.getId()})|">删除任务</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script> let rootPath = "[[${rootPath}]]";</script>
<script th:include="include::layelement"></script>
<script>
    function removeBili(bid) {
        layui.use(['table', 'form', 'jquery'], function () {
            layer.confirm('确定要删除该任务', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: rootPath + "/api/user/bili/delete?bid=" + bid,
                    // dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                window.location.href= rootPath + "/my";
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 2000});
                        }
                    }
                })
            });
        });
    }
    function removeNetmusic(nid) {
        layui.use(['table', 'form', 'jquery'], function () {
            layer.confirm('确定要删除该任务', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: rootPath + "/api/user/netmusic/delete?nid=" + nid,
                    // dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                window.location.href= rootPath + "/my";
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 2000});
                        }
                    }
                })
            });
        });
    }
</script>
</body>

</html>
