<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>网易云任务添加</title>
        <th:block th:include="include :: headerCss"/>
    </head>
    <body>
        <div class="layui-fluid">

            <div class="admin-layui-form">
                <form class="layui-form layui-form-pane" action="">

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务名</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="required" name="name" placeholder="输入任务名" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">手机区号（默认86）</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="countrycode" placeholder="手机区号，中国的不填没事" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">登录手机号</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="phone" name="phone" placeholder="请输入登录手机号" type="text">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">登录密码</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" lay-verify="required" name="password" placeholder="请输入登录密码，格式为32位md5，如果未转换程序会自动帮你转换" type="password">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否开启任务</label>
                        <div class="layui-input-block">
                            <select class="layui-input" name="enable">
                                <option value="true" selected>开启</option>
                                <option value="false">关闭</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">任务完成推送WebHook</label>
                        <div class="layui-input-block">
                            <input autocomplete="off" class="layui-input" name="webhook" placeholder="输入WebHook地址，json字符串" type="text">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="userSave">
                                <i class="layui-icon layui-icon-ok"></i>提交
                            </button>
                            <button class="layui-btn layui-btn-normal" type="button" id="showSendWebHook">点我生成WebHook</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <th:block th:include="include :: footerJs"/>
        <script src="/static/js/md5.js"></script>

        <script type="text/javascript">
            var parentIndex = parent.layer.getFrameIndex(window.name);

            layui.use(['form','layer'], function () {
                var form = layui.form,layer = layui.layer;

                $("#showSendWebHook").click(function () {
                    layer.open({
                        type: 2,
                        title: '生成webhook json字符串',
                        shade: 0.1,
                        area: screen() < 2 ? ['90%', '80%'] : ['1000px', '400px'],
                        content: "/webhook-generate",
                        end: function (index, layero) {
                            return true;
                        }
                    });
                })

                //保存
                form.on('submit(userSave)', function (data) {

                    var password = data.field.password;

                    if (password.length != 32) {
                        data.field.password = hex_md5(password);
                    }

                    var loadIndex = parent.layer.msg("校验用户信息中，请稍后", {icon: 3, time: 10*1000, shade: [0.7, '#393D49']});
                    $.ajax({
                        url: '/api/user/netmusic/add',
                        data: JSON.stringify(data.field),
                        dataType: 'json',
                        contentType: 'application/json;charset=UTF-8',
                        type: 'post',
                        success: function (result) {
                            if (result.code == 200) {
                                parent.layer.msg(result.msg);
                                parent.layer.close(parentIndex);
                            } else {
                                parent.layer.msg(result.msg);
                                parent.layer.close(loadIndex);
                            }
                        },
                        error: function () {
                            parent.layer.msg("连接服务器失败！");
                        }
                    })
                    return false;
                });
            })
        </script>

    </body>
</html>