<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册页面</title>
    <meta content="text/html;charset=UTF-8"/>
    <th:block th:include="include :: headerCss"/>
    <link rel="stylesheet" href="/static/layuiadmin/style/login.css" media="all">
    <style>
        .layadmin-user-login-header p {
            color: #ff0000;
            font-size: 16px;
        }
    </style>
</head>
<body>
<!--<ul class="layui-nav" th:include="include::header"></ul>-->

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>AutoPlan 注册页面</h2>
            <p>请牢记密码，不支持找回</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                <input type="text" name="username" id="username" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                <input type="password" name="password" id="password" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                <input type="password" name="repass" id="repass" placeholder="确认密码" class="layui-input">
            </div>

            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                        <input type="text" name="imageCode" id="imageCode" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img src="/code/image" class="layadmin-user-login-codeimg" id="showImageCode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" type="button" id="reg_btn">注 册</button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <label id="text" style="font-size: 15px; color: #ff4d4d"></label>
                <a href="/" class="layadmin-user-jump-change layadmin-link" style="color:#1E9FFF!important;">首页</a>
                <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
                <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-sm layui-show-xs-inline-block">登入</a>

            </div>
        </div>
    </div>

</div>

<th:block th:include="include :: footerJs"/>
<script src="/static/js/user/reg.js"></script>
</body>
</html>