<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>自动任务管理-首页</title>
        <th:block th:include="include :: headerCss"/>
        <link href="/static/css/markdown.css">
        <style>
            .red {
                color: red;
            }

            .layadmin-text * {
                margin-bottom: 10px;
            }

            .layadmin-text *:not(h1,h2,h3,h4,h5,h6,a) {
                text-indent: 2em;
            }
        </style>
    </head>
    <body>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs0 layui-col-sm0 layui-col-md2 "></div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header red" style="font-size: 18px; font-weight: bold;" id="content_header">
                            公告栏
                        </div>
                        <div class="layui-card-body layui-text layadmin-text markdown" id="notice_content"></div>
                    </div>
                </div>

            </div>

            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs0 layui-col-sm0 layui-col-md2 "></div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size: 18px; font-weight: bold;">
                            项目介绍
                        </div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <p>这是一个自动化托管系统</p>
                            <p>能够实现每日自动b站领经验，网易云自动签到刷300首歌</p>
                            <p>默认会在早上8点进行任务，小米运动是中午12点开始任务!</p>
                            <p>项目任务部分源码来源：</p>
                            <p><a href="https://github.com/JunzhouLiu/BILIBILI-HELPER-PRE" target="_blank">BILIBILI-HELPER-PRE</a></p>
                            <p><a href="https://github.com/secriy/CloudMusic-LevelUp" target="_blank">CloudMusic-LevelUp</a></p>
                            <p><a href="https://github.com/PonKing66/genshi-helper" target="_blank">genshi-helper</a></p>
                            <a class="layui-btn layui-btn-lg layui-btn-normal" href="https://github.com/wyt1215819315/autoplan" target="_blank">
                                开源地址
                            </a>
                            <a class="layui-btn layui-btn-lg layui-btn-normal" lay-href="https://blog.oldwu.top/index.php/archives/84/">
                                使用说明
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <th:block th:include="include :: footerJs"/>
        <script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            layui.config({
                base: '/static/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use('index');
        </script>
        <script src="/static/js/welcome.js?v=1"></script>
    </body>

</html>
