<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.dao.UserDao">
    <resultMap id="userMap" type="com.system.domain.SysUser">
        <id property="id" column="ID"/>
        <result property="username" column="username"/>
        <result property="password" column="PASSWORD"/>
        <collection property="roles" ofType="com.system.domain.SysRole">
            <result column="name" property="name"/>
        </collection>

    </resultMap>
    <insert id="regUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `sys_user`(`username`, `password`)
        VALUES (#{username}, #{password})
    </insert>
    <insert id="setRole">
        INSERT INTO `sys_role_user`(`sys_user_id`, `sys_role_id`) VALUES (#{id}, 2)
    </insert>
    <select id="findByUserName" parameterType="String" resultMap="userMap">
        select u.*
             , r.name
        from sys_user u
                 LEFT JOIN sys_role_user sru on u.id = sru.sys_user_id
                 LEFT JOIN sys_role r on sru.sys_role_id = r.id
        where username = #{username}
    </select>
    <select id="getRole" resultType="java.lang.String">
        SELECT
            sys_role.`name` AS role
        FROM
            sys_user
                INNER JOIN sys_role_user ON sys_role_user.sys_user_id = sys_user.id
                INNER JOIN sys_role ON sys_role_user.sys_role_id = sys_role.id
        WHERE
            sys_user.id = #{id}
    </select>
</mapper>